<% provide(:title, 'About') %>

<h1>About Us</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex deleniti nobis quasi nam perferendis, vero, illo officia, accusamus ratione excepturi assumenda inventore dolorum minus quae placeat ipsa, eum laudantium voluptatibus.
</p>
