<% provide(:title, 'Home') %>

<h1>Fwitter</h1>
  <p>
    This is the home page for Fwitter.
    A sample rails app from <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
    It is only meant for practice.
  </p>

